<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Developer Options">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider">
        Test Angular
      </div>
      <div class="item item-text-wrap">
        {{status}}
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Test Barcode Display
      </div>
      <div style="text-align:center">
        <scan-code type="{{scancode1.type}}" format="{{scancode1.format}}" data="{{scancode1.data}}" height="{{scancode1.height}}" width="{{scancode1.width}}"></scan-code>
        <scan-code type="{{scancode2.type}}" format="{{scancode2.format}}" data="{{scancode2.data}}" height="{{scancode2.height}}" width="{{scancode2.width}}"></scan-code>
      </div>
    </p>
    </div>

    <div class="button-bar">
      <a class="button button-block button-positive" ng-click='insert()'>
        Insert
      </a>
      <a class="button button-block button-positive" ng-click='getBarcodeCount()'>
        Count Data
      </a>
      <a class="button button-block button-positive" ng-click='getAllBarcodeData()'>
        Get All
      </a>
    </div>

    <div class="item item-divider">
      <i class="icon ion-stats-bars"></i>
      Barcode Data
      <span class="badge badge-energized">{{rowCount}}</span>
    </div>

    <div class="row" ng-repeat="item in barcodes">
      <div class="col">{{item.id}}</div>
      <div class="col">{{item.name}}</div>
      <div class="col">{{item.description}}</div>
      <div class="col">{{item.format}}</div>
      <div class="col">{{item.scanText}}</div>
      <div class="col">{{item.scanData}}</div>
    </div>

    <div class="button-bar">
      <a class="button button-block button-positive" ng-click='insertScanHistory()'>
        Insert
      </a>
      <a class="button button-block button-positive" ng-click='getScanHistoryCount()'>
        Count Data
      </a>
      <a class="button button-block button-positive" ng-click='getAllScanHistoryData()'>
        Get All
      </a>
    </div>

    <div class="item item-divider">
      <i class="icon ion-stats-bars"></i>
      Scan History Data
      <span class="badge badge-energized">{{rowCountscanHistory}}</span>
    </div>
    <div class="row" ng-repeat="item in scanHistory">
      <div class="col">{{item.scanData }}</div>
    </div>

  </ion-content>
</ion-view>
